In [503]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

In [529]:
df_hargarumah = pd.read_csv('harga_rumah.csv',
                      names=['harga','luas','kasur','km'])
                            
df_hargarumah

        harga  luas  kasur  km
0       harga  luas  kasur  km
1    13300000  7420      4   2
2    12250000  8960      4   4
3    12250000  9960      3   2
4    12215000  7500      4   2
..        ...   ...    ...  ..
541   1820000  3000      2   1
542   1767150  2400      3   1
543   1750000  3620      2   1
544   1750000  2910      3   1
545   1750000  3850      3   1

[546 rows x 4 columns]

In [531]:
df_hargarumah.drop([0], inplace=True)
df_hargarumah.head()

      harga  luas kasur km
1  13300000  7420     4  2
2  12250000  8960     4  4
3  12250000  9960     3  2
4  12215000  7500     4  2
5  11410000  7420     4  1

In [532]:
df_hargarumah.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545 entries, 1 to 545
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   harga   545 non-null    object
 1   luas    545 non-null    object
 2   kasur   545 non-null    object
 3   km      545 non-null    object
dtypes: object(4)
memory usage: 21.3+ KB

In [535]:
df_hargarumah['luas']=df_hargarumah.luas.astype(int)
df_hargarumah['kasur']=df_hargarumah.kasur.astype(int)
df_hargarumah['km']=df_hargarumah.km.astype(int)
df_hargarumah['harga']=df_hargarumah.harga.astype(int)

In [534]:
df_hargarumah.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545 entries, 1 to 545
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   harga   545 non-null    object
 1   luas    545 non-null    int32
 2   kasur   545 non-null    int32
 3   km      545 non-null    int32
dtypes: int32(3), object(1)
memory usage: 14.9+ KB

In [536]:
df_hargarumah.shape

(545, 4)

In [613]:
train = df_hargarumah[500:]
test = df_hargarumah[:500]

In [614]:
print(train.shape)
print(test.shape)

(45, 4)
(500, 4)

In [615]:
X_train = train[['luas','kasur','km']]
y_train = train['harga']

In [616]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [617]:
print(linreg.coef_)
print(linreg.intercept_)

[ 4.90803777e+01 -5.52794320e+04  2.19955322e+05]
2054189.4653932587

y= 4.90x1 -5.52x2 +  2.19x3 + 2054189.46

In [619]:
X_test = test[['luas','kasur','km']]

y_test = test['harga']

In [620]:
pred = linreg.predict(X_test)
pred

array([2637158.78428856, 3152653.21037886, 2817102.37560214,
       2641085.21450332, 2417203.46206048, 2916319.96872636,
       2914047.34463066, 3232760.39059156, 2450578.11888593,
       2610473.98555041, 2756167.47707182, 2787419.97020467,
       2594458.85570305, 2444763.70376534, 2711088.75980363,
       2347509.32574849, 2596912.87458728, 2745445.02418277,
       2554031.55121324, 2643357.83859902, 2320333.7232335 ,
       2679431.91619713, 2503403.53199667, 2552068.33610586,
       2760169.13748812, 2593968.05192621, 2622744.07997154,
       2543894.84358637, 2607891.95246639, 2542924.45913433,
       2695137.63705617, 2451869.13542795, 2512494.62496995,
       2840736.18709224, 2333457.41100852, 2671824.45765603,
       2695481.19969996, 2714705.78103007, 2402788.75774345,
       2567464.64797658, 2429782.96546992, 2640413.01593795,
       2646302.66126009, 2567464.64797658, 2567464.64797658,
       2622744.07997154, 2622744.07997154, 2432236.98435415,
       2539307.43790789, 2693419.82383721, 2693419.82383721,
       2418739.88049091, 2567464.64797658, 2581025.75893971,
       2622744.07997154, 2402788.75774345, 2614506.58035215,
       2714705.78103007, 2649919.68248653, 2622744.07997154,
       2622744.07997154, 2599419.67746975, 2579243.93862086,
       2585133.583943  , 2656779.71226071, 2764095.56770288,
       2811446.90906677, 2706180.72203518, 2402788.75774345,
       2866364.14807516, 2524583.32460255, 2567464.64797658,
       2354689.98761264, 2707471.73857719, 2306591.21748184,
       2482064.79080556, 2643357.83859902, 2647284.26881378,
       2388064.6444381 , 2622744.07997154, 2402788.75774345,
       2524583.32460255, 2843605.77955176, 2622744.07997154,
       2292848.71173018, 2733174.92976165, 2435672.61079206,
       2302664.78726708, 2471992.09027859, 2858767.91263571,
       2353708.38005895, 2494878.47300178, 2563847.62675014,
       2681640.53319293, 2567464.64797658, 2529491.36237099,
       2550029.89079694, 2422420.90881725, 2652192.30658223,
       2347509.32574849, 2652192.30658223, 2378248.5689012 ,
       2598203.89112929, 2639922.21216111, 2598203.89112929,
       2329168.19121671, 2540470.44025011, 2423402.51637094,
       2212047.48333929, 2597649.08025254, 2432236.98435415,
       2519207.41361107, 2373469.14192303, 2580459.72496132,
       2497332.491886  , 2500949.51311244, 2666916.41988758,
       2234624.45707416, 2423402.51637094, 2452850.74298164,
       2429292.16169308, 2463206.70267306, 2579931.06390844,
       2632250.74652011, 2648511.2782559 , 2873960.38351461,
       2459721.99585746, 2647284.26881378, 2378248.5689012 ,
       2670767.61990079, 2343892.30452206, 2339067.50078676,
       2363524.45559585, 2343892.30452206, 2451869.13542795,
       2622744.07997154, 2538016.42136588, 2280760.01209758,
       2353708.38005895, 2420457.69370987, 2612928.00443464,
       2599857.69724835, 2788326.34755681, 2453288.76276023,
       2283704.83475865, 2353708.38005895, 2678929.88931863,
       2598203.89112929, 2420457.69370987, 2596912.87458728,
       2360383.31142405, 2268980.7214533 , 2262781.66714284,
       2710182.38245148, 2507405.19241297, 2627652.11773999,
       2446961.0976595 , 2411241.80580683, 2499967.90555875,
       2482865.00357072, 2357816.20506224, 2407696.7955119 ,
       2596912.87458728, 2443280.06933316, 2657591.14812753,
       2644830.24992956, 2491133.43757554, 2609310.9832082 ,
       2262109.46857747, 2593968.05192621, 2598203.89112929,
       2612312.89007856, 2520581.66418624, 2533108.38359743,
       2294811.92683756, 2753970.08317766, 2526471.30950838,
       2405242.77662767, 2456040.96753113, 2484337.41490126,
       2493844.08144984, 2461685.21096484, 2275670.57954061,
       2499967.90555875, 2475502.94691805, 2255547.62468996,
       2723593.03301153, 2407696.7955119 , 2444325.68398675,
       2337330.46063455, 2426037.93004369, 2633466.53286058,
       2432236.98435415, 2399171.73651701, 2728266.8919932 ,
       2709382.16968632, 2485538.27451951, 2465686.87138115,
       2400236.57810386, 2314444.07791136, 2330149.7987704 ,
       2309290.63825449, 2365797.07969155, 2318061.0991378 ,
       2342419.89319152, 2417512.8710488 , 2448252.11420151,
       2255547.62468996, 2254075.21335943, 2438126.62967629,
       2336333.92635864, 2741443.36376647, 2440837.27355058,
       2518138.86840366, 2377085.56655899, 2312480.86280398,
       2404751.97285083, 2445096.04330749, 2399907.94218228,
       2451869.13542795, 2450578.11888593, 2440837.27355058,
       2613456.66548752, 2418543.55898017, 2666168.99112067,
       2479663.55591958, 2362052.04426532, 2458068.18973841,
       2286468.2626312 , 2747442.39294562, 2428619.96312771,
       2320333.7232335 , 2292112.50606491, 2312480.86280398,
       2518693.67928041, 2387083.03688441, 2304446.60758593,
       2354199.1838358 , 2494334.88522668, 2304628.00237446,
       2296775.14194494, 2292848.71173018, 2286959.06640804,
       2233461.45473194, 2369414.10091799, 2371377.31602537,
       2281069.4210859 , 2465302.23219128, 2584770.79436595,
       2517893.46651524, 2280578.61730906, 2277633.79464799,
       2592239.0156056 , 2336348.85308086, 2274379.5629986 ,
       2452423.94630469, 2304628.00237446, 2513219.60753356,
       2306591.21748184, 2475737.12570482, 2263498.64587485,
       2280578.61730906, 2347637.33994829, 2303057.43028856,
       2404079.77428546, 2249657.97936782, 2347818.73473682,
       2349781.9498442 , 2295974.92917977, 2299719.96460601,
       2549123.51344479, 2091245.74713553, 2308309.0307008 ,
       2224808.38153726, 2369595.49570652, 2361478.00645532,
       2379539.58544321, 2672058.63644281, 2275179.77576376,
       2475737.12570482, 2475737.12570482, 2384447.62321166,
       2215056.31310026, 2267017.50634592, 2544940.45823996,
       2434691.00323837, 2245093.50424317, 2378248.5689012 ,
       2355671.59516633, 2450706.13308573, 2621037.48985423,
       2253240.84693879, 2407806.17936892, 2380030.38922006,
       2469303.89260759, 2222418.36975293, 2554031.55121324,
       2506914.38863613, 2392972.68220655, 2451869.13542795,
       2308505.35221153, 2281069.4210859 , 2213583.90176972,
       2329168.19121671, 2513219.60753356, 2277633.79464799,
       2345855.51962944, 2308554.43258922, 2306885.69974795,
       2280367.3690761 , 2402052.55207818, 2461013.01239948,
       2284995.85130066, 2508877.60374351, 2361870.64947679,
       2438436.03866461, 2562556.61020813, 2573271.05926556,
       2321315.33078719, 2200268.19269501, 2320333.7232335 ,
       2506423.58485928, 2498079.92065292, 2373340.53113275,
       2329168.19121671, 2222845.16642988, 2254256.60814795,
       2426347.33903201, 2549123.51344479, 2302664.78726708,
       2362361.45325364, 2684585.355854  , 2322969.13690625,
       2255547.62468996, 2325060.36621342, 2350876.64487547,
       2504875.9433272 , 2378259.79200285, 2349109.75127883,
       2429057.9829063 , 2477828.95160248, 2539616.84689621,
       2459329.35283599, 2363833.86458417, 2352545.37771674,
       2207203.45267074, 2270384.8254729 , 2272725.75687954,
       2538144.43556568, 2344873.91207575, 2331440.81531241,
       2340275.28329562, 2449724.52553204, 2248480.0503034 ,
       2575861.09618119, 2513219.60753356, 2341385.50163958,
       2393154.07699508, 2334385.63797348, 2284995.85130066,
       2361870.64947679, 2403770.36529714, 2362361.45325364,
       2339489.99725266, 2261437.2700121 , 2431073.98201193,
       2341747.69462615, 2341747.69462615, 2440399.25377199,
       2340275.28329562, 2373649.94012107, 2283523.43997013,
       2264382.09267317, 2310827.05668492, 2556304.17530894,
       2400825.54263607, 2530963.77370153, 2468140.89026538,
       2219964.3508687 , 2281069.4210859 , 2384447.62321166,
       2359907.43436942, 2262909.68134264, 2493844.08144984,
       2384447.62321166, 2342238.498403  , 2297265.94572179,
       2316407.29301874, 2287449.87018489, 2278796.7969902 ,
       2433048.42022096, 2257314.51828661, 2304137.19859761,
       2472679.21556617, 2279106.20597852, 2119157.55531579,
       2342238.498403  , 2453160.15196996, 2261437.2700121 ,
       2524326.69961247, 2335956.21005938, 2574570.07963918,
       2452178.54441627, 2743602.90038459, 2348800.34229051,
       2258492.44735103, 2424693.53291295, 2213583.90176972,
       2359907.43436942, 2319906.92655655, 2297265.94572179,
       2213583.90176972, 2236406.27739301, 2423968.55034933,
       2361870.64947679, 2343156.09885679, 2277633.79464799,
       2342238.498403  , 2224808.38153726, 2296465.73295662,
       2365797.07969155, 2396717.71763279, 2346164.92861776,
       2292357.90795334, 2260455.66245841, 2319906.92655655,
       2240823.51138462, 2213583.90176972, 2361870.64947679,
       2287385.86308499, 2286286.86784267, 2209102.66067822,
       2405733.58040452, 2223826.77398357, 2239139.85182113,
       2361870.64947679, 2213583.90176972, 2396899.11242131,
       2384447.62321166, 2356471.8079315 , 2231679.63441309,
       2322787.74211772, 2295317.65733662, 2320333.7232335 ,
       2261437.2700121 , 2388192.6586379 , 2579175.63130992,
       2335367.24552717, 2364570.07024944, 2189289.1148159 ,
       2277633.79464799, 2494878.47300178, 2550029.89079694,
       2314213.60274515, 2329168.19121671, 2378003.16701278,
       2226001.2373239 , 2255547.62468996, 2297265.94572179,
       2335367.24552717, 2561136.98287585, 2407024.59694653,
       2214320.10743499, 2315244.29067652, 2384447.62321166,
       2350091.35883252, 2259964.85868157, 2267326.91533424,
       2302728.79436698, 2389355.66098011, 2357438.48876298,
       2292357.90795334, 2231188.83063624, 2558682.96399162,
       2266624.86332445, 2310827.05668492, 2395426.70109078,
       2407024.59694653, 2284995.85130066, 2232661.24196678,
       2279106.20597852, 2296102.94337957, 2262909.68134264,
       2432973.19001941, 2312790.2717923 , 2341747.69462615,
       2458068.18973841, 2318061.0991378 , 2308245.0236009 ,
       2270271.73799531, 2321806.13456403, 2293158.1207185 ,
       2238369.49250039, 2302664.78726708, 2497332.491886  ,
       2304628.00237446, 2359907.43436942, 2356668.12944224,
       2261746.67900042, 2726378.90708737])

In [621]:
y_test

1      13300000
2      12250000
3      12250000
4      12215000
5      11410000
         ...
496     2730000
497     2695000
498     2660000
499     2660000
500     2660000
Name: harga, Length: 500, dtype: int32